:root {
  /* Variable de police */
  --font: 16px/1.25 'Raleway', sans-serif;
  
  /* Couleurs de base */
  --body-background: #000000;
  --background: #ffffff;
  --header-font-colour: #000000;
  --h1-colour: #000000;
  --h2-colour: #000000;
  --button-background-colour: #000000;
  --button-font-colour: #ffffff;
}